<p id="notice"><%= notice %></p>

<div class="espacoLateral">

  <h1>Ingredients</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @ingredients.each do |ingredient| %>
        <tr>
          <td scope="row" ><%= ingredient.description %></td>
          <td scope="row" ><%= link_to 'Show', ingredient, :class => "btn btn-outline-info"  %></td>
          <td scope="row" ><%= link_to 'Edit', edit_ingredient_path(ingredient), class: "btn btn-outline-secondary" %></td>
          <td scope="row" ><%= link_to 'Destroy', ingredient, :class => "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Ingredient', new_ingredient_path, :class => "btn btn-outline-success " %>
</div>