<%= form_with(model: dish, local: true) do |form| %>
  <% if dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
      <% dish.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="espacoLateral tamanhoForm">
    <div class="field form-group">
      <label>Restaurant</label>
      <%= form.select :restaurant_id, Restaurant.all.collect {|restaurant| [restaurant.name, restaurant.id]}, :class => "form-control" %>
    </div>
  
    <div class="field form-group">
      <label>Description</label>
      <%= form.text_field :description, id: :dish_description, :class => "form-control" %>
    </div>
  
    <div class="field form-group">
      <label>Price</label>
      <%= form.text_field :price, id: :dish_price, :class => "form-control" %>
    </div>
  
    <div class="field form-group">
      <label>Preparation time</label>
      <%= form.text_field :time, id: :dish_time, :class => "form-control" %>
    </div>
  
    <div class="field">
      <label>Ingredient</label><br>
      <%= form.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :description, checked: dish.ingredients.map(&:id)) do |i| %>
        <%= i.check_box %> <%= i.label %>
      <% end %>
    </div>
    <div class="actions tamanhBotao">
      <%= form.submit :class=>"btn btn-outline-success" %>
    </div>
  </div>
<% end %>