<div class="espacoLateral">
  <h2>Pratos</h2>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Descrição</th>
      <th scope="col">Preço</th>
      <th scope="col">Tempo de Preparo</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td scope="row" ><%= dish.description %></td>
        <td scope="row"><%= dish.price %></td>
        <td scope="row"><%= dish.time %></td>
        <td scope="row"><%= link_to 'Mostrar', dish, :class => "btn btn-outline-info" %></td>
        <td scope="row"><%= link_to 'Editar', edit_dish_path(dish), class: "btn btn-outline-secondary" %></td>
        <td scope="row"><%= link_to 'Excluir', dish, :class => "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <%= link_to 'New Dish', new_dish_path, :class => "btn btn-outline-success " %>
</div>