<p id="notice"><%= notice %></p>

<div class="espacoLateral">

  <h1>Restaurants</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td scope="row" ><%= restaurant.name %></td>
          <td scope="row" ><%= restaurant.address %></td>
          <td scope="row" ><%= restaurant.phone %></td>
          <td scope="row" ><%= link_to 'Show', restaurant, :class => "btn btn-outline-info" %></td>
          <td scope="row" ><%= link_to 'Edit', edit_restaurant_path(restaurant), class: "btn btn-outline-secondary" %></td>
          <td scope="row" ><%= link_to 'Destroy', restaurant, :class => "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Restaurant', new_restaurant_path, :class => "btn btn-outline-success "  %>
</div>